# Python
__pycache__/
*.py[cod]
*.pyo
.venv/

# Данные и модели (большие файлы — не в git)
Project/data/
Project/models/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store
Tutorials/.DS_Store

# ClearML
clearml.conf
